<div class="container">
  <div class="card">
    <!-- image is optional -->
    <div class="card-image">
      <!-- Added div wrapper to create dark gradient -->
      <div class="card-image-gradient">
        <img src="/images/spotiparty.png" />
      </div>
      <span class="card-title">
        <h1>{{project_data.project_name}}</h1>
      </span>
      <!-- USER ONLY - Initialize page with appropriate state of button -->
      <a
        onclick='toggleInterest(this, "{{project_id}}")'
        class="btn-floating btn-large halfway-fab waves-effect waves-light scale-transition scale-in blue"
      ><i class="material-icons">star_border</i></a>
      <!-- <a onclick='toggleInterest(this, "{{ project_id }}"))'class="btn-floating btn-large halfway-fab waves-effect waves-light scale-transition scale-in yellow"><iclass="material-icons">star</i></a> -->
    </div>
    <div class="card-content">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>Team Members</th>
            <th>Type</th>
            <th>Language</th>
            <th>Session</th>
            <th>Location</th>
            <!-- ADMIN ONLY BUTTONS -->
            <th>Admin Op</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {{#with project_data}}
              <td>{{project_team}}</td>
              <td>{{project_type}}</td>
              <td>{{project_language}}</td>
              <td>Session {{project_session}}</td>
              <td>{{project_location}}</td>
              <!-- ADMIN ONLY BUTTONS -->
              <td nowrap>
                <!-- Alternatively to going to a new page, trigger a modal ??-->
                <a
                  class="btn-floating waves-effect waves-light green lighten-1"
                  href="/projects/{{project_id}}/modify"
                ><i class="material-icons">edit</i></a>
                <a
                  class="btn-floating waves-effect waves-light red"
                  onclick='confirmDelete("{{project_name}}","{{project_id}}", "/projects")'
                ><i class="material-icons">delete</i></a>
              </td>
            {{/with}}
          </tr>
        </tbody>
      </table>

      <div
        class="container project-description"
      >{{project_data.project_description}}</div>
    </div>
  </div>
</div>